
.superheroCard { 
  /* width: 200px; 
  height: 300px;  */
  border: 5px solid blueviolet; 
  border-radius: 5px; 
  padding: 10px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: space-between; 
  list-style-type: none; 
} 
.superheroCard img { 
  width: 100%; 
  height: auto; 
  /* margin-bottom: 50px;  */
} 
.superheroCardbtn { 
  /* margin-top: 10px;  */
  border: 5px solid blueviolet; 
  border-radius: 5px; 
}